
# PlanAhead Generated physical constraints 

NET "oBlue[2]" LOC = B6;
NET "oBlue[1]" LOC = A6;
NET "oBlue[0]" LOC = D5;
NET "oGreen[2]" LOC = C5;
NET "oGreen[1]" LOC = C4;
NET "oGreen[0]" LOC = B4;
NET "oRed[2]" LOC = A4;
NET "oRed[1]" LOC = C3;
NET "oRed[0]" LOC = A7;
NET "CLK" LOC = B9;
NET "Hs" LOC = D6;
NET "RST" LOC = U10;
NET "Vs" LOC = E6;
